.advantages-wrapper {
    margin-top: rem(60);

    .grid {
        max-width: rem(470);

        @media (max-width: rem(460)) {
            padding: 0;
        }
    }

    .title,
    .section-description {

        @media (max-width: rem(460)) {
            padding: 0 rem(15);
        }
    }

    .comparison {
        display: flex;
        position: relative;
        margin-top: rem(28);

        div {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
            padding: 0 rem(45) 0 rem(35);
            height: rem(100);
            font-size: rem(18);
            line-height: rem(22);

            @media (max-width: rem(430)) {
                font-size: rem(14);
                line-height: rem(18);
            }
        }

        strong {
            display: block;
            margin-top: rem(0);
        }
    }

    .alone {
        background: #d7d7d7;

        @media (max-width: rem(430)) {
            padding: 0 rem(20) 0 !important;
        }
    }

    .share {
        background: $green-text-color;
        text-align: right;
        color: white;
        padding-right: rem(35) !important;

        @media (max-width: rem(430)) {
            padding: 0 rem(20) !important;
        }
    }

    .versus-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .advantages-tables {
        table {
            width: 100%;
        }

        tr {
            &:nth-child(even){
                background: #f2f2f2;
            }
        }

        th {
            @include font-bold;

            height: rem(34);
            text-align: center;
            width: 100%;
            font-size: rem(18);
            line-height: rem(22);
        }

        td {
            width: 33%;
            font-size: rem(14);

            &:nth-child(1){
                height: rem(36);
                padding: rem(3) 0 0 rem(30);
            }

            &:nth-child(2){
                text-align: center;
                text-transform: uppercase;
                font-size: rem(12);
            }

            &:nth-child(3){
                text-align: right;
                padding-right: rem(30);
            }
        }
    }

    .benefits {
        margin: rem(3) 0 rem(50);

        tr {
            &:last-child {
                td {
                    @include font-bold;

                    font-size: rem(18);
                    padding: 0;
                    text-align: center;

                    &:nth-child(1) {
                        color: $wine-text-color;
                    }

                    &:nth-child(2) {
                        font-size: rem(12);
                    }

                    &:nth-child(3) {
                        color: $green-text-color;
                    }

                    @media (max-width: rem(330)) {
                        //font-size: rem(16);
                    }
                }
            }
        }

        td {
            height: rem(45);
        }
    }
}
