mixin costsData(col1, col2, col3)
    tr
        td= col1
        td= col2
        td= col3

mixin benefictsData(name)
    tr
        td <svg width="24" height="24" viewBox="0 0 24 24" fill="#BC4266" xmlns="http://www.w3.org/2000/svg"><path d="M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12L19 6.41Z"></path></svg>
        td= name
        td <svg width="24" height="24" viewBox="0 0 24 24" fill="#30B082" xmlns="http://www.w3.org/2000/svg"><path d="M8.99991 16.1701L4.82991 12.0001L3.40991 13.4101L8.99991 19.0001L20.9999 7.00009L19.5899 5.59009L8.99991 16.1701Z"></path></svg>

section.advantages-wrapper#advantages-section
    .grid
        h2.title Vantagens pro seu bolso
        p.section-description Já pensou em morar a uma quadra da Av. Paulista? Com a Yuca isso é muito mais acessível do que você pode imaginar:

        .comparison
            .alone Sozinho em Apartamento <br/><strong>Padrão* 40m<sup>2</sup></strong>
            .share Compartilhando<br>Apartamento<br/><strong>Yuca 120m<sup>2</sup></strong>
            <svg class="versus-icon" width="38" height="20" viewBox="0 0 38 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M27.8307 -7.01309e-07L17.6611 10L27.8307 20L29.1341 18.7183L20.2679 10L29.1341 1.28165L27.8307 -7.01309e-07Z" fill="black"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.1695 -7.01309e-07L20.3391 10L10.1695 20L8.86615 18.7183L17.7323 10L8.86615 1.28165L10.1695 -7.01309e-07Z" fill="black"></path></svg>

        .advantages-tables
            table.costs
                tr
                    th(colspan=4) Custos mensais
                +costsData('R$ -', 'Pacote', 'até R$ 2.800')
                +costsData('R$ 2.900', 'Aluguel', 'R$ -')
                +costsData('R$ 840', 'Condomínio', 'R$ -')
                +costsData('R$ 100', 'IPTU', 'R$ -')
                +costsData('R$ 190', 'Seguro Fiança', 'R$ -')
                +costsData('R$ 600', 'Limpezas semanais', 'R$ -')
                +costsData('R$ 150', 'Água, luz, gás', 'R$ -')
                +costsData('R$ 140', 'Internet', 'R$ -')

            table.benefits
                tr
                    th(colspan=4) Benefícios ao se mudar
                +benefictsData('Mudança')
                +benefictsData('Manutenção')
                +benefictsData('Mobília moderna')
                +benefictsData('Eletrodomésticos')
                +benefictsData('Reforma do apê')
                +costsData('R$ 4.920', 'Total', 'R$ 2.800')
