script
    include menu.js

nav.section-menu
    .menu
        .grid
            img.logo-desktop(src='./assets/images/logo-desktop.svg')
            img.logo-mobile(src='./assets/images/logo-mobile.svg')

            .buttons-wrapper
                #apartments-menubtn.menu-button(onclick=onClickButton) Apês
                #services-menubtn.menu-button Serviços
                #advantages-menubtn.menu-button Vantagens

            a.primary-button.living-button(href='https://yuca.live/quero-mudar') Quero morar num Yuca
