.section-menu {
    $desktop-height: rem(60);
    $mobile-height: rem(56);

    width: 100%;
    height: $desktop-height;

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: $desktop-height;
        box-shadow: 0 rem(4) rem(4) rem(-2) rgba(0,0,0,.05);
        background: white;
        z-index: 1;

        .grid {
            display: flex;
            height: $desktop-height;
            align-items: center;
            justify-content: space-between;
        }
    }

    .logo-desktop {
        cursor: pointer;

        @media (max-width: $desktop-bp) {
            display: none;
        }
    }

    .logo-mobile {
        cursor: pointer;
        display: none;
        width: rem(43);
        height: rem(36);

        @media (max-width: $desktop-bp) {
            display: inline-block;
        }
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-between;
        height: 100%;
        //border: 1px solid gray;
        width: 100%;
        max-width: rem(325);

        @media (max-width: rem(850)) {
            max-width: rem(230);
        }

        @media (max-width: rem(680)) {
            max-width: 100%;
            margin:0 rem(30) 0 rem(70);
        }

        @media (max-width: rem(400)) {
            margin: 0 rem(10) 0 rem(30);
        }
    }

    .menu-button {
        @include font-bold;

        display: inline-flex;
        position: relative;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size: rem(12);
        text-transform: uppercase;
        color: black;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: rem(30);
            height: rem(4);
            background: red;
            display: none;
        }

        &:nth-child(1){
            &::after {
                background: $yellow-text-color;
            }
        }

        &:nth-child(2){
            &::after {
                background: $wine-text-color;
            }
        }

        &:nth-child(3){
            &::after {
                background: $green-text-color;
            }
        }
    }

    .active {
        &::after {
            display: block;
        }
    }

    .living-button {
        @media (max-width: rem(680)) {
            display: none;
        }
    }
}
