.yuca-wrapper {

    h2 {
        color: $green-text-color;
    }

    .banner {
        position: relative;
        width: 100%;
        height: rem(400);
        background-image: url('../../assets/images/banner-desktop.jpg');
        background-position: center;
        background-size: auto 100%;
        background-repeat: no-repeat;

        @media (max-width: rem(690)) {
            background-position: calc(100% + 161px);
        }

        @media (max-width: rem(600)) {
            height: rem(300);
            background-position: calc(100% + 120px);
        }

        @media (max-width: rem(564)) {
            background-position: calc(100% + 110px);
        }

        @media (max-width: rem(450)) {
            background-image: url('../../assets/images/banner-mobile.jpg');
            background-position: right;
            background-size: cover;
        }
    }

    .banner-bottom {
        position: absolute;
        width: 100%;
        min-width: rem(350);
        height: rem(41);
        bottom: 0;
    }

    .text-wrapper {
        position: relative;
        padding: rem(52) rem(54) 0;

        @media (max-width: rem(600)) {
            padding: rem(20) rem(30) 0;
        }
    }

    .description {
        font-size: rem(24);
        line-height: rem(30);
        margin-top: rem(10);


        @media (max-width: rem(600)) {
            font-size: rem(16);
            line-height: rem(24);
            padding-bottom: rem(30);
        }
    }

    .primary-button{
        margin: rem(30) 0 rem(54);

        @media (max-width: rem(600)) {
            display: none;
        }
    }
}
