section.yuca-wrapper
    .banner
        img.banner-bottom(src='./assets/images/banner-bottom.png')

    .grid
        .text-wrapper
            h2.title Viver em São Paulo é incrível com a Yuca
            p.description Apartamentos compartilhados e reformados nos melhores bairros com ótimo custo-benefício

            a.primary-button(href='https://yuca.live/quero-mudar') Quero morar num Yuca

            .border.border--left-bottom.border--green
