.dont-worry-wrapper {
    h2 {
        margin-top: rem(86);
    }

    .section-description {
        strong {
            color: $wine-text-color;
        }
    }

    .dont-worry-vantages-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: rem(30);
    }

    .vantage {
        width: calc(100% / 4 - 23px);
        padding: rem(20) rem(11) rem(15);
        border: 1px solid #d7d7d7;
        border-radius: rem(10);
        text-align: center;
        vertical-align: text-top;

        @media (max-width: rem(820)) {
            width: calc(100% / 2 - 22px);
            margin: 0 rem(10) rem(20);
        }
    }

    .vantage-description,
    .vantage-title {
        font-size: rem(18);
        line-height: rem(22);

        @media (max-width: rem(730)) {
            font-size: rem(14);
            line-height: rem(18);
        }
    }

    .vantage-icon {
        fill: $wine-text-color;
        width: rem(48);
        height: rem(48);
    }

    .vantage-title {
        @include font-bold;

        margin: rem(13) rem(10) rem(10);
        color: $wine-text-color;
    }

    .dont-worry-vantages-topics {
        margin-top: rem(10);
    }

    .topic {
        position: relative;
        width: 50%;
        padding: rem(34) rem(20) 0 rem(72);
        display: inline-block;
        margin-bottom: 0px;
        font-size: rem(18);
        line-height: rem(22);

        @media (max-width: rem(720)) {
            width: 100%;
            display: block;
        }
    }

    .topic-icon {
        fill: #aaa;
        position: absolute;
        top: rem(29);
        left: rem(21);
        width: rem(32);
        height: rem(32);
    }

    .topic-title {
        @include font-bold;
    }

    .topic-description {
        margin-top: rem(10);

        @media (max-width: rem(600)) {
            font-size: rem(14);
            line-height: rem(18);
        }
    }

    .featured {
        width: 100%;
        height: initial;
        margin-top: rem(93);
        padding:rem(53) rem(53) rem(45);

        @media (max-width: rem(600)) {
            display: flex;
            padding: rem(31) rem(53) rem(26) rem(30);
        }

        h3 {
            color: $yellow-text-color;

            @media (max-width: rem(820)) {
                font-size: rem(24);
                line-height: rem(28);
            }
        }

        .description {
            margin-top: rem(15);
            text-align: left;
            padding: 0;

            @media (max-width: rem(820)) {
                font-size: rem(14);
                line-height: rem(18);
            }
        }
    }

    .mosaic {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: rem(967);
        margin: 0 auto;
        padding: 0;
        transform: scale(1);
    }

    .mosaic-item {
        position: relative;
        display: flex;
        flex: 1 0 16%;
        margin: 1px;
        background-size: cover;
        transform: scale(1);

        @media (max-width: rem(720)) {
            flex: 0 0 32.6%;
        }

        & span {
            transform: scale(1);
            position: absolute;
        }
    }

    .mosaic-image {
        width: 100%;
    }

    .flip-box {
        position: absolute;
        width: 100%;
        height: 100%;
        perspective: 1000px;
        cursor: default;
    }

    .flip-box-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-box-turn .flip-box-inner,
    .flip-box-desktop:hover .flip-box-inner{
        transform: rotateY(180deg);
    }

    .flip-box-front, .flip-box-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .flip-box-front {
        background-color: #bbb;
        color: black;
    }

    .flip-box-back {
        color: white;
        transform: rotateY(180deg);
    }
}
