script
    include dont-worry.js

mixin flipBox(imgFront)
    img.mosaic-image(src='./assets/images/mosaic/logo.png' style='opacity:0')
    .flip-box
        .flip-box-inner
            .flip-box-front
                img.mosaic-image(src=`./assets/images/mosaic/${imgFront}`)

            .flip-box-back
                img.mosaic-image(src=`./assets/images/mosaic/logo.png`)

section.dont-worry-wrapper#services-section
    .grid
        h2.title Cuidamos de tudo pra você não se preocupar com nada
        p.section-description Deixa com a gente, esses serviços e benefícios <strong>são por nossa conta</strong>

        ul.dont-worry-vantages-cards
            li.vantage
                <svg class="vantage-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M44.2695 18.9105C45.1386 18.0633 45.4455 16.8199 45.0705 15.6655C44.6954 14.5112 43.7162 13.6857 42.5151 13.5112L32.0123 11.9851C31.8062 11.9552 31.6279 11.8257 31.5357 11.6388L26.8387 2.12174C26.3016 1.0333 25.2139 0.357178 24.0002 0.357178C22.7864 0.357178 21.6987 1.0333 21.1616 2.12174L16.4646 11.6389C16.3723 11.8257 16.1942 11.9552 15.9879 11.9852L5.48529 13.5112C4.28416 13.6857 3.30513 14.5112 2.92994 15.6655C2.55476 16.8199 2.86169 18.0633 3.73094 18.9105L11.3308 26.3185C11.4799 26.464 11.5481 26.6736 11.5128 26.879L9.71875 37.3392C9.51363 38.5356 9.99607 39.7218 10.978 40.4352C11.9599 41.1488 13.2376 41.241 14.3118 40.6763L23.7056 35.7377C23.8901 35.6406 24.1103 35.6406 24.2949 35.7377L33.6888 40.6763C34.1561 40.922 34.6617 41.0434 35.1648 41.0433C35.8183 41.0433 36.4676 40.8385 37.0223 40.4351C38.0042 39.7216 38.4868 38.5353 38.2816 37.3391L36.4875 26.8789C36.4523 26.6735 36.5204 26.4639 36.6695 26.3184L44.2695 18.9105ZM33.9917 27.3071L35.7858 37.7676C35.8458 38.1176 35.6297 38.3172 35.534 38.3867C35.4382 38.4561 35.1815 38.6001 34.8673 38.4348L25.4733 33.4961C25.0122 33.2538 24.5063 33.1325 24.0003 33.1325C23.4944 33.1325 22.9884 33.2538 22.5273 33.496L13.1335 38.4346C12.8191 38.5999 12.5625 38.456 12.4668 38.3865C12.371 38.317 12.1548 38.1174 12.2149 37.7674L14.009 27.3071C14.1852 26.2801 13.845 25.2327 13.0986 24.5053L5.49879 17.0973C5.24444 16.8492 5.302 16.5607 5.33866 16.4482C5.37513 16.3356 5.49822 16.0684 5.84969 16.0174L16.3522 14.4912C17.3834 14.3414 18.2745 13.6941 18.7357 12.7596L23.4327 3.24243C23.5899 2.92396 23.882 2.88955 24.0004 2.88955C24.1187 2.88955 24.4108 2.92387 24.5681 3.24243L29.2651 12.7596C29.7262 13.6942 30.6172 14.3415 31.6484 14.4913L42.1511 16.0175C42.5026 16.0685 42.6256 16.3357 42.6621 16.4483C42.6987 16.5609 42.7563 16.8495 42.5019 17.0974L34.9021 24.5054C34.1558 25.2327 33.8156 26.2801 33.9917 27.3071Z"></path><path d="M38.7921 2.12115C38.2262 1.71015 37.4345 1.83559 37.0235 2.40128L35.6794 4.25115C35.2684 4.81684 35.3937 5.60874 35.9595 6.01974C36.1844 6.18296 36.4448 6.26162 36.7028 6.26162C37.0944 6.26162 37.4804 6.08059 37.7281 5.73971L39.0722 3.88984C39.4832 3.32406 39.3579 2.53215 38.7921 2.12115Z"></path><path d="M12.315 4.24357L10.9709 2.39369C10.56 1.82819 9.76818 1.70276 9.2023 2.11357C8.63661 2.52457 8.51118 3.31648 8.92218 3.88216L10.2663 5.73204C10.5141 6.07319 10.9001 6.25413 11.2918 6.25413C11.5499 6.25413 11.8103 6.17547 12.035 6.01216C12.6006 5.60126 12.7261 4.80935 12.315 4.24357Z"></path><path d="M4.64548 28.7652C4.42939 28.1003 3.71511 27.7362 3.04995 27.9523L0.875231 28.659C0.210075 28.8751 -0.153769 29.5896 0.0623248 30.2545C0.236137 30.7898 0.732544 31.1299 1.26626 31.1299C1.39592 31.1299 1.52782 31.1097 1.65786 31.0674L3.83257 30.3608C4.49764 30.1447 4.86157 29.4304 4.64548 28.7652Z"></path><path d="M24.0004 42.8237C23.3012 42.8237 22.7343 43.3906 22.7343 44.0899V46.3767C22.7343 47.076 23.3012 47.6429 24.0004 47.6429C24.6997 47.6429 25.2666 47.076 25.2666 46.3767V44.0899C25.2666 43.3905 24.6998 42.8237 24.0004 42.8237Z"></path><path d="M47.1247 28.6608L44.95 27.9541C44.2851 27.7382 43.5705 28.1019 43.3544 28.7671C43.1383 29.4322 43.5022 30.1465 44.1673 30.3626L46.3421 31.0693C46.4721 31.1115 46.6039 31.1316 46.7336 31.1316C47.2674 31.1316 47.7638 30.7913 47.9376 30.2562C48.1537 29.5912 47.7898 28.8769 47.1247 28.6608Z"></path></svg>
                h3.vantage-title Limpeza uma vez por semana
                p.vantage-description Sua casa e seu quarto sempre limpos

            li.vantage
                <svg class="vantage-icon" width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.15956 61.6043C6.72815 61.6043 6.37019 61.2463 6.37019 60.8149V31.0064C6.37019 30.3448 5.83389 29.8085 5.17233 29.8085H2.39572V24.642L31.0389 2.6778C31.3174 2.49893 31.6461 2.39572 32 2.39572C32.3543 2.39572 32.6812 2.4986 32.9601 2.67776L61.6043 24.642V29.8085H58.8277C58.1661 29.8085 57.6298 30.3448 57.6298 31.0064V60.8149C57.6298 61.2463 57.2719 61.6043 56.8404 61.6043H39.1596V47.8979C39.1596 47.2363 38.6233 46.7 37.9617 46.7C37.3001 46.7 36.7638 47.2363 36.7638 47.8979V62.8021C36.7638 63.4637 37.3001 64 37.9617 64H56.8404C58.595 64 60.0255 62.5694 60.0255 60.8149V32.2042H62.8021C63.4637 32.2042 64 31.6679 64 31.0064V24.0511C64 23.6785 63.8267 23.3272 63.531 23.1005L34.3833 0.750065C34.3628 0.734341 34.3417 0.719288 34.3203 0.704922C33.6574 0.26162 32.8598 0 32 0C31.1418 0 30.3422 0.261257 29.6787 0.704922C29.6573 0.719292 29.6362 0.734352 29.6157 0.750076L0.468951 23.1005C0.173326 23.3272 0 23.6785 0 24.0511V31.0064C0 31.6679 0.536301 32.2042 1.19786 32.2042H3.97447V60.8149C3.97447 62.5694 5.40503 64 7.15956 64H26.0383C26.6999 64 27.2362 63.4637 27.2362 62.8021V47.8979C27.2362 47.2363 26.6999 46.7 26.0383 46.7C25.3767 46.7 24.8404 47.2363 24.8404 47.8979V61.6043H7.15956Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M58.8278 15.3127C59.4894 15.3127 60.0257 14.7764 60.0257 14.1149V2.19147C60.0257 1.52991 59.4894 0.993613 58.8278 0.993613H46.9044C46.2428 0.993613 45.7065 1.52991 45.7065 2.19147V6.16594C45.7065 6.8275 46.2428 7.3638 46.9044 7.3638C47.566 7.3638 48.1023 6.8275 48.1023 6.16594V3.38933H57.63V14.1149C57.63 14.7764 58.1663 15.3127 58.8278 15.3127Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M34.8347 48.6367C35.0381 49.2662 35.7132 49.6117 36.3428 49.4084C42.0126 47.5771 46.115 42.2563 46.115 35.9745C46.115 30.5272 43.025 25.8127 38.516 23.46C38.1446 23.2663 37.6991 23.2806 37.3409 23.4977C36.9827 23.7148 36.764 24.1032 36.764 24.522V34.4847L34.4848 36.7638H29.5155L27.2363 34.4847V24.522C27.2363 24.1032 27.0175 23.7148 26.6594 23.4977C26.3012 23.2806 25.8556 23.2663 25.4843 23.46C20.9753 25.8127 17.8853 30.5272 17.8853 35.9745C17.8853 42.2552 21.9866 47.5748 27.6531 49.4072C28.2826 49.6108 28.9579 49.2655 29.1614 48.6361C29.365 48.0066 29.0197 47.3313 28.3903 47.1277C23.6834 45.6057 20.281 41.1859 20.281 35.9745C20.281 32.2022 22.0664 28.8489 24.8406 26.7056V34.9808C24.8406 35.2985 24.9668 35.6032 25.1914 35.8279L28.1723 38.8087C28.3969 39.0334 28.7016 39.1596 29.0193 39.1596H34.981C35.2987 39.1596 35.6034 39.0334 35.828 38.8087L38.8089 35.8279C39.0335 35.6032 39.1597 35.2985 39.1597 34.9808V26.7056C41.9339 28.8489 43.7193 32.2022 43.7193 35.9745C43.7193 41.1868 40.316 45.6075 35.6064 47.1286C34.9769 47.332 34.6314 48.0071 34.8347 48.6367Z"></path></svg>
                h3.vantage-title Reparos e Manutenção
                p.vantage-description Deu ruim? Nós consertamos, simples assim

            li.vantage
                <svg class="vantage-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M17.6845 16.0417C17.8693 16.3614 18.2783 16.4707 18.598 16.2858L27.1452 11.3438C27.4648 11.1589 27.5741 10.75 27.3893 10.4303C27.2045 10.1107 26.7955 10.0014 26.4758 10.1862L17.9286 15.1282C17.609 15.3131 17.4997 15.722 17.6845 16.0417Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14.2972 16.0347C14.4818 15.7149 14.3723 15.306 14.0525 15.1213L6.52908 10.7768L8.34866 9.73911C8.66942 9.55619 8.78116 9.14787 8.59823 8.8271C8.41531 8.50634 8.00699 8.39461 7.68623 8.57753L4.85459 10.1924C4.64655 10.311 4.51786 10.5319 4.51721 10.7714C4.51657 11.0109 4.64407 11.2324 4.85146 11.3522L13.3838 16.2793C13.7036 16.464 14.1125 16.3544 14.2972 16.0347Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.668 30.0757C15.875 30.1953 16.1301 30.1953 16.3371 30.0756L24.1709 25.5466L27.1452 23.8266C27.3518 23.7072 27.4791 23.4866 27.4791 23.2479V15.7747C27.4791 15.4054 27.1797 15.1061 26.8105 15.1061C26.4412 15.1061 26.1419 15.4054 26.1419 15.7747V22.8622L23.5016 24.389L16.0024 28.7246L5.8556 22.862V15.6094C5.8556 15.2402 5.55626 14.9408 5.18701 14.9408C4.81777 14.9408 4.51843 15.2402 4.51843 15.6094V23.2479C4.51843 23.4867 4.64578 23.7073 4.85254 23.8268L15.668 30.0757Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M15.9971 25.9658C16.3631 25.9658 16.6599 25.6691 16.6599 25.303V19.6959C16.6599 19.3299 16.3631 19.0331 15.9971 19.0331C15.631 19.0331 15.3342 19.3299 15.3342 19.6959V25.303C15.3342 25.6691 15.631 25.9658 15.9971 25.9658Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.858 20.0044C20.0655 20.1238 20.3208 20.1237 20.5281 20.004L31.3354 13.7637C31.543 13.6439 31.6708 13.4224 31.6708 13.1827C31.6708 12.9431 31.5429 12.7216 31.3354 12.6018L27.1451 10.1826L24.2749 8.51775C23.9544 8.33185 23.5439 8.44097 23.358 8.76146C23.1721 9.08196 23.2812 9.49248 23.6017 9.67838L26.4743 11.3446L29.6582 13.1828L20.1921 18.6486L16.337 16.4299C16.0159 16.2451 15.6058 16.3556 15.421 16.6767C15.2361 16.9978 15.3466 17.408 15.6678 17.5928L19.858 20.0044Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.4751 20.0043C11.6815 20.1235 11.9357 20.1236 12.1422 20.0046L16.3354 17.5893C16.6549 17.4052 16.7647 16.9969 16.5807 16.6774C16.3966 16.3579 15.9883 16.248 15.6688 16.4321L11.8094 18.6552L2.33565 13.1853L5.51929 11.3481C5.8387 11.1638 5.94821 10.7555 5.76389 10.4361C5.57957 10.1167 5.17123 10.0072 4.85182 10.1915L0.666257 12.6068C0.45962 12.7261 0.332303 12.9465 0.332275 13.1851C0.332247 13.4236 0.459512 13.6441 0.666121 13.7634L11.4751 20.0043Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.2916 13.3002C23.6411 13.4261 24.0264 13.2449 24.1523 12.8955C24.4803 11.9853 24.6606 11.0016 24.6606 9.97795C24.6606 5.20123 20.7776 1.32756 16.0026 1.32756C11.2267 1.32756 7.35217 5.20206 7.35217 9.97795C7.35217 10.9979 7.52361 11.9837 7.86225 12.9005C7.99094 13.2489 8.3777 13.4271 8.72611 13.2984C9.07452 13.1697 9.25263 12.7829 9.12394 12.4345C8.84308 11.6741 8.69719 10.8467 8.69719 9.97795C8.69719 5.94489 11.9695 2.67257 16.0026 2.67257C20.0365 2.67257 23.3155 5.94573 23.3155 9.97795C23.3155 10.843 23.1633 11.6726 22.887 12.4395C22.761 12.7889 22.9422 13.1743 23.2916 13.3002Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.3911 9.98461C13.3911 11.4292 14.5553 12.5934 15.9999 12.5934C17.4353 12.5934 18.6087 11.4309 18.6087 9.98461C18.6087 8.5475 17.437 7.37584 15.9999 7.37584C14.5536 7.37584 13.3911 8.54919 13.3911 9.98461ZM15.9999 11.255C15.2944 11.255 14.7295 10.6901 14.7295 9.98461C14.7295 9.28499 15.2961 8.71425 15.9999 8.71425C16.6978 8.71425 17.2702 9.28668 17.2702 9.98461C17.2702 10.6884 16.6995 11.255 15.9999 11.255Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.1313 9.9843C11.1313 12.6743 13.3069 14.8499 15.9969 14.8499C18.6869 14.8499 20.8625 12.6743 20.8625 9.9843C20.8625 7.2943 18.6869 5.11875 15.9969 5.11875C13.3069 5.11875 11.1313 7.2943 11.1313 9.9843ZM15.9969 13.509C14.0474 13.509 12.4722 11.9338 12.4722 9.9843C12.4722 8.03484 14.0474 6.45963 15.9969 6.45963C17.9464 6.45963 19.5216 8.03484 19.5216 9.9843C19.5216 11.9338 17.9464 13.509 15.9969 13.509Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M14.5788 6.75386C14.9204 6.60862 15.0796 6.21393 14.9344 5.87231L13.4545 2.3914C13.3092 2.04978 12.9145 1.89058 12.5729 2.03583C12.2313 2.18107 12.0721 2.57576 12.2173 2.91738L13.6973 6.39828C13.8425 6.73991 14.2372 6.8991 14.5788 6.75386Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.3826 6.75385C17.7242 6.8991 18.1189 6.73991 18.2641 6.39829L19.7442 2.91739C19.8894 2.57577 19.7302 2.18108 19.3886 2.03583C19.047 1.89058 18.6523 2.04977 18.507 2.39139L17.027 5.8723C16.8818 6.21392 17.041 6.6086 17.3826 6.75385Z"></path></svg>
                h3.vantage-title Nós realizamos sua mudança
                p.vantage-description Não se precupe com carreto, nós levamos tudo

            li.vantage
                <svg class="vantage-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4.90085 26.2125C4.79374 26.1053 4.64508 26.0437 4.49355 26.0437C4.34201 26.0437 4.19335 26.1053 4.08618 26.2125C3.97901 26.3198 3.91736 26.4684 3.91736 26.6199C3.91736 26.7714 3.97895 26.9201 4.08618 27.0272C4.19335 27.1344 4.34201 27.1961 4.49355 27.1961C4.64508 27.1961 4.79374 27.1344 4.90085 27.0272C5.00802 26.9201 5.06973 26.7714 5.06973 26.6199C5.06973 26.4684 5.00808 26.3197 4.90085 26.2125Z"></path><path d="M27.0524 10.5406C26.9452 10.4334 26.7971 10.3718 26.645 10.3718C26.4935 10.3718 26.3448 10.4334 26.2377 10.5406C26.1306 10.6478 26.0688 10.7965 26.0688 10.948C26.0688 11.0995 26.1305 11.2482 26.2377 11.3553C26.3448 11.4625 26.4935 11.5242 26.645 11.5242C26.7971 11.5242 26.9452 11.4625 27.0524 11.3553C27.1601 11.2482 27.2217 11.0995 27.2217 10.948C27.2217 10.7965 27.1601 10.6478 27.0524 10.5406Z"></path><path d="M29.3312 0.168765C29.2231 0.06073 29.0766 0 28.9237 0L14.7499 0.000749042C14.4317 0.000749042 14.1737 0.258765 14.1737 0.576935V2.22466L8.71211 3.68811C8.40472 3.77051 8.2223 4.08643 8.30469 4.39377L11.1353 14.9577L8.68659 17.4064C8.37493 16.9513 7.85164 16.6521 7.25972 16.6521H1.7285C0.775374 16.6521 0 17.4275 0 18.3806V27.7722C0 28.7253 0.775374 29.5007 1.7285 29.5007H7.25978C8.06949 29.5007 8.75066 28.9409 8.93734 28.1882L9.62243 28.7856C10.1513 29.2468 10.8289 29.5008 11.5306 29.5008H28.9238C29.242 29.5008 29.5 29.2428 29.5 28.9246V0.576186C29.4999 0.423382 29.4393 0.2768 29.3312 0.168765ZM7.83585 27.7722C7.83585 28.0899 7.57737 28.3484 7.25966 28.3484H1.72844C1.41074 28.3484 1.15226 28.09 1.15226 27.7722V18.3806C1.15226 18.0629 1.41074 17.8044 1.72844 17.8044H3.9179V24.4418C3.9179 24.76 4.17591 25.018 4.49408 25.018C4.81225 25.018 5.07027 24.76 5.07027 24.4418V17.8044H7.25972C7.57743 17.8044 7.83591 18.0629 7.83591 18.3806V27.7722H7.83585ZM9.56688 4.65207L14.1737 3.41765V5.55271L13.7876 5.65619C13.6399 5.69578 13.5141 5.79229 13.4377 5.92464C13.3613 6.05699 13.3406 6.21423 13.3801 6.36185C13.6016 7.18816 13.1095 8.04051 12.2831 8.26194C12.1354 8.30158 12.0093 8.39826 11.933 8.5309C11.8567 8.66348 11.8361 8.82101 11.876 8.96875L14.1219 17.2853H12.9655L12.3696 14.9538C12.3506 14.8796 12.3174 14.8112 12.273 14.7518L9.56688 4.65207ZM14.1737 8.19504V13.057L13.1228 9.16569C13.5618 8.93901 13.9211 8.59987 14.1737 8.19504ZM22.4515 28.3484H11.5305C11.1073 28.3484 10.6986 28.1952 10.3797 27.9171L8.98822 26.7036V18.7345L11.5037 16.219L11.96 18.004C12.0252 18.2591 12.2549 18.4375 12.5182 18.4375L23.8462 18.4382C24.291 18.4382 24.6529 18.8 24.6529 19.2449C24.6529 19.6897 24.291 20.0515 23.8462 20.0515H18.0417C17.7236 20.0515 17.4655 20.3095 17.4655 20.6277C17.4655 20.9459 17.7236 21.2039 18.0417 21.2039H25.6497C26.0945 21.2039 26.4564 21.5657 26.4564 22.0106C26.4564 22.4554 26.0945 22.8172 25.6497 22.8172H18.0417C17.7236 22.8172 17.4655 23.0752 17.4655 23.3934C17.4655 23.7116 17.7236 23.9696 18.0417 23.9696H24.4168C24.8616 23.9696 25.2235 24.3314 25.2235 24.7762C25.2235 25.2211 24.8616 25.5829 24.4168 25.5829H18.0417C17.7236 25.5829 17.4655 25.8409 17.4655 26.1591C17.4655 26.4773 17.7236 26.7353 18.0417 26.7353H22.4515C22.8963 26.7353 23.2581 27.0971 23.2581 27.5419C23.2581 27.9865 22.8962 28.3484 22.4515 28.3484ZM28.3476 28.3484H28.3476H24.236C24.3477 28.1022 24.4104 27.8292 24.4104 27.5417C24.4104 27.2542 24.3477 26.9813 24.236 26.7351H24.4168C25.497 26.7351 26.3758 25.8563 26.3758 24.7761C26.3758 24.461 26.3006 24.1633 26.1679 23.8993C26.9973 23.6715 27.6086 22.9112 27.6086 22.0104C27.6086 21.5735 27.4647 21.1695 27.2219 20.8434V13.5408C27.2219 13.2226 26.9639 12.9646 26.6457 12.9646C26.3276 12.9646 26.0696 13.2226 26.0696 13.5408V20.0973C25.9342 20.0677 25.7937 20.0515 25.6496 20.0515H25.6307C25.7424 19.8053 25.8051 19.5324 25.8051 19.2449C25.8051 18.1646 24.9263 17.2859 23.8462 17.2859H22.92C23.9034 16.8641 24.5942 15.8866 24.5942 14.7504C24.5942 13.2299 23.3572 11.9929 21.8367 11.9929C20.3163 11.9929 19.0793 13.2299 19.0793 14.7504C19.0793 15.8866 19.7701 16.8641 20.7535 17.2859H17.6039V6.33016C18.6332 6.10585 19.4454 5.29371 19.6696 4.26436H24.0038C24.228 5.29371 25.0402 6.10585 26.0695 6.33016V8.12152C26.0695 8.43969 26.3275 8.69771 26.6457 8.69771C26.9639 8.69771 27.2219 8.43969 27.2219 8.12152V5.81574C27.2219 5.49757 26.9639 5.23955 26.6457 5.23955C25.7902 5.23955 25.0944 4.54358 25.0944 3.68817C25.0944 3.37 24.8363 3.11198 24.5182 3.11198H19.1553C18.8371 3.11198 18.5791 3.37 18.5791 3.68817C18.5791 4.54363 17.8832 5.23955 17.0278 5.23955C16.7096 5.23955 16.4516 5.49757 16.4516 5.81574V17.2858H15.3262V1.15301L28.3476 1.15237V28.3484ZM21.8368 16.3555C20.9518 16.3555 20.2318 15.6355 20.2318 14.7504C20.2318 13.8654 20.9518 13.1453 21.8368 13.1453C22.7219 13.1453 23.4419 13.8654 23.4419 14.7504C23.4419 15.6354 22.7219 16.3555 21.8368 16.3555Z"></path></svg>
                h3.vantage-title Fiador? Seguro? Nem pensar!
                p.vantage-description Menos custos e burocracia pra você

        ul.dont-worry-vantages-topics
            li.topic
                <svg class="topic-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M15.909 27.1475C14.9348 27.1475 14.1336 26.3494 14.1336 25.3641C14.1336 24.3818 14.9318 23.5887 15.909 23.5887C16.8969 23.5887 17.6933 24.3835 17.6933 25.3641C17.6933 26.3477 16.8938 27.1475 15.909 27.1475ZM12.699 25.3641C12.699 27.1387 14.1394 28.5822 15.909 28.5822C17.6858 28.5822 19.128 27.1404 19.128 25.3641C19.128 23.5848 17.6828 22.1541 15.909 22.1541C14.1424 22.1541 12.699 23.5865 12.699 25.3641Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M2.92526 14.4948C3.22064 14.764 3.67827 14.7428 3.94747 14.4474C6.91012 11.1972 11.1783 9.1567 15.9048 9.1567C20.6399 9.1567 24.8995 11.1969 27.8718 14.4482C28.1414 14.7432 28.5991 14.7637 28.8941 14.4941L31.7977 11.8401C32.0927 11.5705 32.1133 11.113 31.8439 10.818C27.8956 6.49449 22.2047 3.77634 15.9048 3.77634C9.59518 3.77634 3.92288 6.49496 -0.0337631 10.8173C-0.163546 10.9591 -0.231592 11.1467 -0.22289 11.3387C-0.214188 11.5307 -0.129453 11.7114 0.0126228 11.8408L2.92526 14.4948ZM15.9048 7.70939C11.013 7.70939 6.57252 9.71615 3.37616 12.9477L1.53303 11.2682C5.19857 7.53799 10.2808 5.22364 15.9048 5.22364C21.5211 5.22364 26.6194 7.53875 30.2779 11.2685L28.441 12.9475C25.2382 9.71657 20.8058 7.70939 15.9048 7.70939Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.2384 20.4991C21.5067 20.7927 21.9622 20.8133 22.2559 20.5452L25.1555 17.8987C25.4493 17.6305 25.4702 17.1751 25.2022 16.8812C22.9013 14.3579 19.586 12.7723 15.899 12.7723C12.2202 12.7723 8.91423 14.3586 6.61398 16.8812C6.346 17.1751 6.36689 17.6305 6.66065 17.8987L9.56017 20.5452C9.85391 20.8133 10.3094 20.7927 10.5776 20.4991C11.8971 19.055 13.8051 18.1464 15.899 18.1464C18.0119 18.1464 19.9196 19.0557 21.2384 20.4991ZM15.899 16.7056C13.6405 16.7056 11.5658 17.5854 10.0218 19.0159L8.18075 17.3354C10.1851 15.401 12.9024 14.2131 15.899 14.2131C18.9047 14.2131 21.6302 15.4015 23.6353 17.3355L21.7942 19.0159C20.2497 17.5849 18.173 16.7056 15.899 16.7056Z"></path></svg>
                h3.topic-title Internet super veloz
                p.topic-description A melhor performance para trabalhar ou maratonar suas séries

            li.topic
                <svg class="topic-icon" width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M24 48C10.745 48 0 37.255 0 24C0 10.745 10.745 0 24 0C37.255 0 48 10.745 48 24C48 33.684 42.743 41.5272 35.0934 45.3923L35.0932 45.3924C29.4941 48.22 22.9482 43.9924 22.9482 37.7845V35.8442C22.9482 35.7851 22.9531 35.7272 22.9625 35.6707C18.5906 35.3996 15.1289 31.7675 15.1289 27.3282V20.8816H13.8644C13.3363 20.8816 12.9082 20.4535 12.9082 19.9255C12.9082 19.3974 13.3363 18.9693 13.8644 18.9693H17.3498V11.4124C17.3498 9.86202 18.6062 8.60557 20.1566 8.60557C21.707 8.60557 22.9635 9.86202 22.9635 11.4124V18.9693H25.4927V11.4124C25.4927 9.86202 26.7492 8.60557 28.2995 8.60557C29.8499 8.60557 31.1064 9.86202 31.1064 11.4124V18.9693H34.5918C35.1199 18.9693 35.548 19.3974 35.548 19.9255C35.548 20.4535 35.1199 20.8816 34.5918 20.8816H33.3271V27.3282C33.3271 31.92 29.6236 35.6481 25.0401 35.6867C25.0478 35.7381 25.0518 35.7907 25.0518 35.8442V37.7845C25.0518 42.4889 30.0016 45.607 34.1448 43.5147L34.145 43.5146C41.0992 40.0008 45.8964 32.8758 45.8964 24C45.8964 11.9068 36.0932 2.10358 24 2.10358C11.9068 2.10358 2.10359 11.9068 2.10359 24C2.10359 36.0932 11.9068 45.8964 24 45.8964C24.5809 45.8964 25.0518 46.3673 25.0518 46.9482C25.0518 47.5291 24.5809 48 24 48ZM17.0413 27.3282V20.8816H18.306C18.834 20.8816 19.2621 20.4535 19.2621 19.9255V11.4124C19.2621 10.9182 19.6624 10.5179 20.1566 10.5179C20.6509 10.5179 21.0511 10.9182 21.0511 11.4124V19.9255C21.0511 20.4535 21.4792 20.8816 22.0073 20.8816H26.4489C26.977 20.8816 27.4051 20.4535 27.4051 19.9255V11.4124C27.4051 10.9182 27.8053 10.5179 28.2995 10.5179C28.7938 10.5179 29.194 10.9182 29.194 11.4124V19.9255C29.194 20.4535 29.6221 20.8816 30.1502 20.8816H31.4147V27.3282C31.4147 30.8879 28.5286 33.7746 24.9683 33.7746H23.4877C19.9274 33.7746 17.0413 30.8879 17.0413 27.3282Z"></path></svg>
                h3.topic-title Eletrodomésticos
                p.topic-description Geladeira, TV, Fogão, Microondas... Tudo pronto pra usar

            li.topic
                <svg class="topic-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.3159 19.9636C20.6105 19.9636 20.8493 19.7248 20.8493 19.4303V15.9807C20.8493 15.8257 20.7819 15.6784 20.6646 15.5771L17.3566 12.7196C17.1337 12.527 16.7969 12.5516 16.6043 12.7745C16.4118 12.9974 16.4364 13.3342 16.6593 13.5268L19.7826 16.2247V19.4303C19.7826 19.7248 20.0214 19.9636 20.3159 19.9636Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.73634 19.9636C7.03089 19.9636 7.26967 19.7248 7.26967 19.4303V16.2201L10.3988 13.4381C10.6189 13.2423 10.6387 12.9052 10.443 12.6851C10.2473 12.465 9.91014 12.4452 9.69001 12.6409L6.38196 15.5821C6.26813 15.6833 6.203 15.8283 6.203 15.9807V19.4303C6.203 19.7248 6.44178 19.9636 6.73634 19.9636Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M9.02185 8.57301C9.02185 11.4143 10.972 13.8882 13.5648 13.8882C16.1575 13.8882 18.1076 11.4143 18.1076 8.57301C18.1076 5.73175 16.1575 3.25784 13.5648 3.25784C10.972 3.25784 9.02185 5.73174 9.02185 8.57301ZM13.5648 12.8215C11.7296 12.8215 10.0885 11.0091 10.0885 8.57301C10.0885 6.13688 11.7296 4.32451 13.5648 4.32451C15.3999 4.32451 17.041 6.13687 17.041 8.57301C17.041 11.0092 15.3999 12.8215 13.5648 12.8215Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M22.5646 28.9387C22.8469 29.0226 23.1438 28.8618 23.2278 28.5795L25.4224 21.1975L25.4226 21.1969C25.7621 20.0498 24.9 18.8968 23.7013 18.8968H3.3511C2.15241 18.8968 1.29024 20.0498 1.62977 21.1969L3.82455 28.5794C3.89181 28.8057 4.09976 28.9608 4.33577 28.9608H13.5648C13.8594 28.9608 14.0981 28.722 14.0981 28.4275C14.0981 28.1329 13.8594 27.8941 13.5648 27.8941H4.73362L2.65257 20.8942C2.65254 20.8941 2.65251 20.894 2.65248 20.8939C2.51601 20.4321 2.86371 19.9635 3.3511 19.9635H23.7013C24.1886 19.9635 24.5363 20.4319 24.3999 20.8937C24.3999 20.8938 24.3999 20.894 24.3998 20.8942L22.2053 28.2755C22.1214 28.5578 22.2822 28.8547 22.5646 28.9387Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M2.08454 29.3342C2.08459 29.3341 2.08465 29.334 2.0847 29.3339L3.25562 27.1336C3.39399 26.8736 3.29538 26.5506 3.03535 26.4122C2.77533 26.2738 2.45236 26.3725 2.31399 26.6325L1.14222 28.8343C0.610924 29.8368 1.3443 31.0333 2.46942 31.0333H24.583C25.714 31.0333 26.4323 29.8316 25.9038 28.8343L25.4325 29.0841L25.9039 28.8346L25.9038 28.8343L24.739 26.6336C24.6013 26.3732 24.2785 26.2739 24.0182 26.4116C23.7578 26.5494 23.6585 26.8722 23.7963 27.1325L24.9613 29.3339C25.115 29.6238 24.9064 29.9667 24.583 29.9667H2.46942C2.14015 29.9667 1.93395 29.6188 2.08454 29.3342Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M20.598 11.5937C20.7957 11.677 21.024 11.6338 21.1776 11.4841L22.85 9.85287H29.1846C30.5282 9.85287 31.6165 8.76456 31.6165 7.42096V3.39855C31.6165 2.05496 30.5282 0.966645 29.1846 0.966645H22.7038C21.3602 0.966645 20.2719 2.05496 20.2719 3.39855V11.1023C20.2719 11.3168 20.4004 11.5104 20.598 11.5937ZM21.3385 9.83705V3.39855C21.3385 2.64406 21.9493 2.03331 22.7038 2.03331H29.1846C29.9391 2.03331 30.5499 2.64406 30.5499 3.39855V7.42096C30.5499 8.17545 29.9391 8.7862 29.1846 8.7862H22.6329C22.4938 8.7862 22.3601 8.84058 22.2605 8.93774L21.3385 9.83705Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.406 4.33178C23.406 4.62633 23.6448 4.86511 23.9393 4.86511H28.0712C28.3657 4.86511 28.6045 4.62633 28.6045 4.33178C28.6045 4.03723 28.3657 3.79845 28.0712 3.79845H23.9393C23.6448 3.79845 23.406 4.03723 23.406 4.33178Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.406 6.30114C23.406 6.59569 23.6448 6.83447 23.9393 6.83447H28.0712C28.3657 6.83447 28.6045 6.59569 28.6045 6.30114C28.6045 6.00659 28.3657 5.76781 28.0712 5.76781H23.9393C23.6448 5.76781 23.406 6.00659 23.406 6.30114Z"></path></svg>
                h3.topic-title Time de atendimento dedicado
                p.topic-description Precisou de ajuda com algum serviço? Nosso time te ajuda!

            li.topic
                <svg class="topic-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M-1.59425 13.4861C-1.34736 13.8143 -0.881156 13.8802 -0.55295 13.6333L15.4516 1.5942C15.7798 1.34731 15.8457 0.881107 15.5988 0.552903C15.3519 0.224698 14.8857 0.158775 14.5575 0.405661L-1.447 12.4448C-1.77521 12.6917 -1.84113 13.1579 -1.59425 13.4861Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M8.29141 10.083C8.53815 10.4113 9.00432 10.4774 9.33264 10.2307L15.4513 5.63244C15.7796 5.38571 15.8458 4.91954 15.599 4.59122C15.3523 4.2629 14.8861 4.19676 14.5578 4.44349L8.43913 9.04173C8.11081 9.28847 8.04468 9.75464 8.29141 10.083Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M31.5942 13.4857C31.8412 13.1576 31.7754 12.6913 31.4472 12.4444L15.4516 0.406139C15.1234 0.159175 14.6572 0.224989 14.4103 0.553138C14.1633 0.881287 14.2291 1.34751 14.5573 1.59447L30.5529 13.6327C30.8811 13.8797 31.3473 13.8139 31.5942 13.4857Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M21.7154 10.08C21.9622 9.7518 21.8963 9.2856 21.5681 9.03873L15.4554 4.44125C15.1272 4.19438 14.661 4.26034 14.4141 4.58856C14.1673 4.91678 14.2332 5.38298 14.5615 5.62985L20.6741 10.2273C21.0023 10.4742 21.4685 10.4082 21.7154 10.08Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.25232 19.8054C6.25232 20.2161 6.58526 20.5491 6.99596 20.5491H10.7922C11.2029 20.5491 11.5358 20.2161 11.5358 19.8054V16.0068C11.5358 15.5961 11.2029 15.2632 10.7922 15.2632H6.99596C6.58526 15.2632 6.25232 15.5961 6.25232 16.0068V19.8054ZM7.73959 19.0618V16.7505H10.0485V19.0618H7.73959Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.3694 19.8057C12.3694 20.2164 12.7023 20.5493 13.113 20.5493H16.9084C17.3191 20.5493 17.6521 20.2164 17.6521 19.8057V16.0077C17.6521 15.597 17.3191 15.2641 16.9084 15.2641H13.113C12.7023 15.2641 12.3694 15.597 12.3694 16.0077V19.8057ZM13.8567 19.062V16.7514H16.1648V19.062H13.8567Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.4865 19.8045C18.4865 20.2152 18.8194 20.5481 19.2301 20.5481H23.0247C23.4354 20.5481 23.7684 20.2152 23.7684 19.8045V16.0073C23.7684 15.5966 23.4354 15.2637 23.0247 15.2637H19.2301C18.8194 15.2637 18.4865 15.5966 18.4865 16.0073V19.8045ZM19.9737 19.0608V16.751H22.2811V19.0608H19.9737Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M12.3694 26.9234C12.3694 27.3341 12.7023 27.667 13.113 27.667H16.9084C17.3191 27.667 17.6521 27.3341 17.6521 26.9234V23.1255C17.6521 22.7148 17.3191 22.3818 16.9084 22.3818H13.113C12.7023 22.3818 12.3694 22.7148 12.3694 23.1255V26.9234ZM13.8567 26.1797V23.8691H16.1648V26.1797H13.8567Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M18.4865 26.9241C18.4865 27.3348 18.8194 27.6677 19.2301 27.6677H23.0247C23.4354 27.6677 23.7684 27.3348 23.7684 26.9241V23.1257C23.7684 22.715 23.4354 22.3821 23.0247 22.3821H19.2301C18.8194 22.3821 18.4865 22.715 18.4865 23.1257V26.9241ZM19.9737 26.1805V23.8694H22.2811V26.1805H19.9737Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.25232 26.9236C6.25232 27.3343 6.58526 27.6672 6.99596 27.6672H10.7922C11.2029 27.6672 11.5358 27.3343 11.5358 26.9236V23.125C11.5358 22.7143 11.2029 22.3813 10.7922 22.3813H6.99596C6.58526 22.3813 6.25232 22.7143 6.25232 23.125V26.9236ZM7.73959 26.18V23.8686H10.0485V26.18H7.73959Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M28.0017 31.1274C27.591 31.1274 27.2581 30.7945 27.2581 30.3838L27.2581 13.1397C27.2581 12.729 27.591 12.3961 28.0017 12.3961C28.4124 12.3961 28.7454 12.729 28.7454 13.1397L28.7454 30.3838C28.7454 30.7945 28.4124 31.1274 28.0017 31.1274Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M1.94761 31.4033C2.35831 31.4033 2.69125 31.0704 2.69125 30.6597V13.139C2.69125 12.7283 2.35831 12.3953 1.94761 12.3953C1.53692 12.3953 1.20398 12.7283 1.20398 13.139V30.6597C1.20398 31.0704 1.53692 31.4033 1.94761 31.4033Z"></path></svg>
                h3.topic-title Pronto pra morar
                p.topic-description Wifi, água, luz e gás instalados e funcionando já no primeiro dia

            li.topic
                <svg class="topic-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.46667 29.1067C6.46667 30.6544 7.72325 31.9133 9.274 31.9133H22.9067C24.4574 31.9133 25.714 30.6544 25.714 29.1067V2.66001C25.714 1.17233 24.5088 -0.0332826 23.022 -0.0332826H9.15802C7.67105 -0.0332826 6.46667 1.17254 6.46667 2.66001V29.1067ZM22.9067 30.8467H9.274C8.31275 30.8467 7.53334 30.0657 7.53334 29.1067V2.66001C7.53334 1.76082 8.26098 1.03338 9.15802 1.03338H23.022C23.9193 1.03338 24.6473 1.76102 24.6473 2.66001V29.1067C24.6473 30.0657 23.8679 30.8467 22.9067 30.8467Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.1493 2.47996C12.7148 2.47996 12.362 2.12578 12.362 1.69331V0.500016C12.362 0.205465 12.1232 -0.0333168 11.8286 -0.0333168C11.5341 -0.0333168 11.2953 0.205465 11.2953 0.500016V1.69331C11.2953 2.71417 12.125 3.54663 13.1493 3.54663H19.0313C20.0555 3.54663 20.8853 2.71417 20.8853 1.69331V0.500016C20.8853 0.205465 20.6465 -0.0333168 20.3519 -0.0333168C20.0574 -0.0333168 19.8186 0.205465 19.8186 0.500016V1.69331C19.8186 2.12578 19.4657 2.47996 19.0313 2.47996H13.1493Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.2667 13.62C12.064 13.62 11.0861 12.6401 11.0861 11.4333C11.0861 11.1889 11.2074 10.7921 11.4567 10.2776C11.6968 9.78233 12.0219 9.24424 12.3547 8.74068C12.6853 8.24046 13.0168 7.78415 13.2667 7.45175C13.5166 7.78415 13.8482 8.24046 14.1788 8.74068C14.5116 9.24424 14.8367 9.78233 15.0767 10.2776C15.3261 10.7921 15.4474 11.1889 15.4474 11.4333C15.4474 12.6401 14.4695 13.62 13.2667 13.62ZM13.2667 6.57994C12.8518 6.24482 12.8518 6.24488 12.8517 6.24495L12.8493 6.24797L12.8429 6.25595C12.8374 6.26285 12.8293 6.27289 12.819 6.2859C12.7983 6.31193 12.7682 6.34988 12.7302 6.39847C12.6541 6.49562 12.546 6.63546 12.4164 6.80773C12.1577 7.15176 11.8117 7.62759 11.4648 8.15258C11.1191 8.6757 10.7657 9.25762 10.4969 9.81239C10.2374 10.3478 10.0194 10.931 10.0194 11.4333C10.0194 13.2265 11.4722 14.6866 13.2667 14.6866C15.0613 14.6866 16.5141 13.2265 16.5141 11.4333C16.5141 10.931 16.2961 10.3478 16.0366 9.81239C15.7678 9.25762 15.4144 8.6757 15.0687 8.15258C14.7217 7.62759 14.3758 7.15176 14.1171 6.80773C13.9875 6.63546 13.8794 6.49562 13.8033 6.39847C13.7653 6.34988 13.7352 6.31193 13.7145 6.2859C13.7041 6.27289 13.6961 6.26285 13.6906 6.25595L13.6842 6.24797L13.6817 6.24495C13.6817 6.24488 13.6816 6.24482 13.2667 6.57994ZM13.2667 6.57994L13.6816 6.24482C13.5804 6.11946 13.4279 6.04661 13.2667 6.04661C13.1056 6.04661 12.9531 6.11946 12.8518 6.24482L13.2667 6.57994Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M16.4854 6.57995C16.4854 6.8745 16.7241 7.11328 17.0187 7.11328H22.718C23.0126 7.11328 23.2514 6.8745 23.2514 6.57995C23.2514 6.2854 23.0126 6.04661 22.718 6.04661H17.0187C16.7241 6.04661 16.4854 6.2854 16.4854 6.57995Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.8694 8.44665C17.8694 8.7412 18.1082 8.97998 18.4027 8.97998H22.5541C22.8486 8.97998 23.0874 8.7412 23.0874 8.44665C23.0874 8.1521 22.8486 7.91331 22.5541 7.91331H18.4027C18.1082 7.91331 17.8694 8.1521 17.8694 8.44665Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M13.5973 26.4275C13.8555 26.5692 14.1797 26.4749 14.3215 26.2167L18.6962 18.25C18.8379 17.9918 18.7436 17.6676 18.4854 17.5258C18.2272 17.384 17.903 17.4784 17.7612 17.7366L13.3865 25.7033C13.2447 25.9615 13.3391 26.2857 13.5973 26.4275Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M17.1161 24.7266C17.1161 25.6989 17.9026 26.4933 18.8781 26.4933H19.2541C20.2291 26.4933 21.0154 25.6987 21.0154 24.7266V23.3733C21.0154 22.3974 20.2254 21.6133 19.2541 21.6133H18.8781C17.9064 21.6133 17.1161 22.3972 17.1161 23.3733V24.7266ZM18.8781 25.4266C18.4962 25.4266 18.1828 25.1143 18.1828 24.7266V23.3733C18.1828 22.9894 18.4925 22.6799 18.8781 22.6799H19.2541C19.6389 22.6799 19.9488 22.9892 19.9488 23.3733V24.7266C19.9488 25.1145 19.6351 25.4266 19.2541 25.4266H18.8781Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.1654 20.3933C11.1654 21.4688 12.0392 22.34 13.1154 22.34C14.1903 22.34 15.0648 21.4688 15.0648 20.3933V19.4066C15.0648 18.3311 14.1903 17.46 13.1154 17.46C12.0392 17.46 11.1654 18.3311 11.1654 19.4066V20.3933ZM13.1154 21.2733C12.6263 21.2733 12.2321 20.8778 12.2321 20.3933V19.4066C12.2321 18.9222 12.6263 18.5266 13.1154 18.5266C13.6032 18.5266 13.9981 18.9222 13.9981 19.4066V20.3933C13.9981 20.8778 13.6032 21.2733 13.1154 21.2733Z"></path></svg>
                h3.topic-title Valor fixo mensal
                p.topic-description Pague apenas o valor do pacote, os outros boletos são por nossa conta

            li.topic
                <svg class="topic-icon" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28.2453 22.7646C28.5354 22.8159 28.8121 22.6223 28.8634 22.3323C29.0671 21.1797 29.0918 20.0356 29.0605 19.1873C29.0399 18.5072 28.883 17.8238 28.5617 17.2021L28.5615 17.2018C27.9478 16.0161 26.8895 15.2225 25.4383 15.2225C24.3346 15.2225 23.3486 15.7245 22.7126 16.4977C22.7071 16.5044 22.7017 16.5113 22.6965 16.5183C22.5151 16.7279 22.5239 17.0451 22.723 17.2441C22.9313 17.4524 23.2689 17.4524 23.4772 17.2441C23.4778 17.2436 23.4785 17.2429 23.4794 17.242C23.4892 17.2324 23.5207 17.2016 23.5546 17.1535C23.9938 16.6324 24.6723 16.2892 25.4383 16.2892C26.4291 16.2892 27.1534 16.802 27.6141 17.6919C27.8541 18.1563 27.9782 18.6809 27.9944 19.2212L27.9945 19.2249C28.0241 20.0249 27.9998 21.0899 27.813 22.1466C27.7617 22.4366 27.9553 22.7133 28.2453 22.7646Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M22.0533 22.2604C22.3178 22.39 22.6373 22.2808 22.767 22.0163C23.3082 20.9124 23.1836 19.5288 23.0904 18.9009C23.0899 18.8978 23.0894 18.8947 23.0889 18.8916C23.0557 18.6924 23.0548 18.4817 23.08 18.2746C23.1157 17.9822 22.9075 17.7163 22.6152 17.6806C22.3228 17.645 22.0568 17.8531 22.0212 18.1455C21.9856 18.4375 21.9845 18.75 22.0359 19.062C22.1255 19.6682 22.195 20.7599 21.8092 21.5467C21.6795 21.8112 21.7888 22.1307 22.0533 22.2604Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M26.4464 23.4977C26.7267 23.5883 27.0274 23.4345 27.118 23.1543C27.3977 22.2891 27.5194 21.437 27.5641 20.7027C27.582 20.4087 27.3582 20.1559 27.0642 20.138C26.7702 20.1201 26.5173 20.3439 26.4994 20.6379C26.4586 21.3078 26.3483 22.0674 26.103 22.8261C26.0124 23.1064 26.1662 23.4071 26.4464 23.4977Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23.1312 23.1096C23.3656 23.2879 23.7003 23.2425 23.8786 23.0081L23.4542 22.6851C23.8786 23.0081 23.8788 23.0079 23.8789 23.0077L23.8792 23.0073L23.8799 23.0064L23.8815 23.0043L23.8858 22.9986C23.8891 22.9941 23.8932 22.9884 23.8982 22.9815C23.9081 22.9677 23.9212 22.9489 23.937 22.9254C23.9686 22.8784 24.0109 22.8123 24.0591 22.7285C24.1554 22.5612 24.2768 22.3213 24.3839 22.0211C24.5978 21.4216 24.7583 20.571 24.5374 19.5819C24.5371 19.5802 24.5365 19.5776 24.5359 19.574C24.5341 19.5648 24.5314 19.5495 24.528 19.5289C24.5214 19.4876 24.5125 19.4257 24.5052 19.3489C24.4903 19.1933 24.4825 18.9874 24.5063 18.7744C24.5555 18.3324 24.7166 18.0004 25.0653 17.8581C25.1937 17.8098 25.3405 17.7885 25.4896 17.7962C25.7918 17.8194 26.2144 17.9453 26.3864 18.5215C26.3872 18.5242 26.388 18.5268 26.3889 18.5295C26.4116 18.6015 26.4249 18.6739 26.4426 18.7853C26.4591 18.9198 26.482 19.1546 26.4993 19.4558C26.5163 19.7498 26.7684 19.9745 27.0625 19.9575C27.3566 19.9405 27.5812 19.6884 27.5642 19.3943C27.5453 19.067 27.52 18.8047 27.4999 18.6446C27.4992 18.6389 27.4984 18.6332 27.4975 18.6276C27.4794 18.5129 27.4564 18.3689 27.4073 18.2124C27.0543 17.0367 26.0901 16.7708 25.5629 16.732C25.5598 16.7318 25.5566 16.7316 25.5534 16.7314C25.2662 16.7154 24.9645 16.7547 24.6801 16.8634C24.6773 16.8645 24.6745 16.8656 24.6717 16.8667C23.7779 17.226 23.5127 18.0592 23.4461 18.6563C23.4119 18.9638 23.4239 19.247 23.4434 19.4505C23.4532 19.5532 23.4652 19.6383 23.475 19.6991C23.4799 19.7296 23.4844 19.7541 23.4877 19.772C23.4894 19.781 23.4909 19.7882 23.492 19.7938L23.4934 19.8007L23.4939 19.8032L23.4942 19.8046C23.4942 19.8048 23.4943 19.805 24.0159 19.6937L23.4943 19.805L23.4955 19.8105C23.6636 20.5592 23.5435 21.2025 23.3793 21.6626C23.2971 21.8929 23.2048 22.0746 23.1347 22.1964C23.0998 22.257 23.0707 22.3023 23.0517 22.3305C23.0422 22.3446 23.0353 22.3544 23.0314 22.3598C23.0297 22.3622 23.0286 22.3637 23.0282 22.3643C23.0282 22.3643 23.0281 22.3644 23.0281 22.3644C23.0281 22.3644 23.028 22.3645 23.0282 22.3643L23.0289 22.3634L23.0293 22.3628L23.0295 22.3625"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M24.612 23.6887C24.8696 23.8316 25.1942 23.7385 25.337 23.4809C25.7164 22.7967 25.9223 22.0729 26.0211 21.3944C26.0635 21.1029 25.8616 20.8322 25.5702 20.7898C25.2787 20.7473 25.008 20.9492 24.9655 21.2407C24.8812 21.8198 24.7085 22.4147 24.4042 22.9637C24.2613 23.2213 24.3544 23.5459 24.612 23.6887Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M25.5834 20.4037C25.8778 20.3944 26.1089 20.1482 26.0996 19.8538C26.0866 19.4411 26.046 19.0929 26.0083 18.846C25.9894 18.7225 25.9712 18.6237 25.9573 18.5545C25.9504 18.5199 25.9445 18.4925 25.9402 18.4731C25.9381 18.4634 25.9363 18.4557 25.935 18.4499L25.9333 18.4429L25.9328 18.4406L25.9324 18.4392C25.9324 18.4391 25.9324 18.439 25.4384 18.5583L25.9324 18.439C25.8633 18.1527 25.5751 17.9766 25.2888 18.0457C25.0027 18.1148 24.8267 18.4024 24.8953 18.6885M25.5834 20.4037C25.289 20.4129 25.0428 20.1818 25.0335 19.8874L25.5834 20.4037ZM25.0335 19.8874C25.0221 19.5248 24.9864 19.2198 24.9539 19.0072L25.0335 19.8874ZM24.9539 19.0072C24.9377 18.9011 24.9223 18.8186 24.9114 18.764L24.9539 19.0072ZM24.9114 18.764C24.906 18.7367 24.9016 18.7165 24.8988 18.7039L24.9114 18.764ZM24.8988 18.7039C24.8974 18.6975 24.8964 18.6931 24.8958 18.6907L24.8988 18.7039ZM24.8958 18.6907L24.8953 18.6885L24.8958 18.6907ZM24.8953 18.6885L24.8954 18.6888L24.8953 18.6885ZM24.8954 18.6888L24.8954 18.689L24.8954 18.6888ZM24.8954 18.689C24.8954 18.689 24.8954 18.689 24.8954 18.689V18.689Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M19.2946 19.492C19.2946 22.8696 22.0364 25.6115 25.414 25.6115C28.7915 25.6115 31.5334 22.8696 31.5334 19.492C31.5334 16.108 28.7912 13.3726 25.414 13.3726C22.0368 13.3726 19.2946 16.108 19.2946 19.492ZM25.414 24.5448C22.6255 24.5448 20.3612 22.2805 20.3612 19.492C20.3612 16.6978 22.6251 14.4393 25.414 14.4393C28.2028 14.4393 30.4667 16.6978 30.4667 19.492C30.4667 22.2805 28.2024 24.5448 25.414 24.5448Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7565 19.837C10.8496 20.0094 11.0298 20.1169 11.2258 20.1169H18.6128C18.9074 20.1169 19.1462 19.8782 19.1462 19.5836C19.1462 19.2891 18.9074 19.0503 18.6128 19.0503H11.544L6.93927 10.5207C6.79935 10.2615 6.4758 10.1648 6.2166 10.3047C5.95741 10.4447 5.86072 10.7682 6.00065 11.0274L10.7565 19.837Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.21975 23.9282C6.08141 23.9282 5.97773 23.8196 5.97773 23.6923V21.8974C5.97773 21.6907 5.85824 21.5026 5.67109 21.4147C5.16653 21.1778 4.83559 20.6385 4.9223 20.0315C5.00395 19.4599 5.48301 18.9938 6.05932 18.9293L6.0608 18.9291C6.8565 18.8378 7.524 19.4516 7.524 20.2308C7.524 20.7516 7.21435 21.204 6.76367 21.414C6.57576 21.5016 6.45562 21.6901 6.45562 21.8974V23.6923C6.45562 23.8224 6.3492 23.9282 6.21975 23.9282ZM4.91107 23.6923C4.91107 24.4197 5.50339 24.9949 6.21975 24.9949C6.93279 24.9949 7.52229 24.417 7.52229 23.6923V22.2085C8.16236 21.7853 8.59066 21.0604 8.59066 20.2308C8.59066 18.8246 7.37832 17.7047 5.9399 17.8693C4.88043 17.9883 4.01666 18.8285 3.86636 19.8806C3.72752 20.8525 4.18455 21.7251 4.91107 22.2076V23.6923Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M2.25672 27.2019C1.80468 26.6313 1.53334 25.8941 1.53334 25.2368V3.86324C1.53334 2.57659 2.57664 1.5333 3.86328 1.5333H8.30157C9.58822 1.5333 10.6315 2.57659 10.6315 3.86324V7.69103C10.6315 7.98558 10.8703 8.22436 11.1648 8.22436C11.4594 8.22436 11.6982 7.98558 11.6982 7.69103V3.86324C11.6982 1.98749 10.1773 0.466636 8.30157 0.466636H3.86328C1.98753 0.466636 0.466675 1.98749 0.466675 3.86324V25.2368C0.466675 26.1608 0.836373 27.1268 1.42067 27.8643C2.00378 28.6003 2.85923 29.1768 3.86328 29.1768H8.30157C9.30562 29.1768 10.1611 28.6003 10.7442 27.8643C11.3285 27.1268 11.6982 26.1608 11.6982 25.2368V20.9084C11.6982 20.6138 11.4594 20.375 11.1648 20.375C10.8703 20.375 10.6315 20.6138 10.6315 20.9084V25.2368C10.6315 25.8941 10.3602 26.6313 9.90813 27.2019C9.45491 27.7739 8.87872 28.1101 8.30157 28.1101H3.86328C3.28613 28.1101 2.70994 27.7739 2.25672 27.2019Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M6.6593 13.2383C5.20308 13.2383 4.04429 11.9786 4.21012 10.4912L4.21017 10.4908C4.3352 9.36055 5.25502 8.44477 6.38089 8.31893C7.4346 8.20864 8.37191 8.75184 8.82772 9.59335C8.92094 9.76545 9.10095 9.87266 9.29668 9.87266H22.1843C22.6758 9.87266 23.0796 10.2734 23.0796 10.774C23.0796 11.267 22.6773 11.6693 22.1843 11.6693H9.29668C9.00212 11.6693 8.76334 11.908 8.76334 12.2026C8.76334 12.4972 9.00212 12.7359 9.29668 12.7359H22.1843C23.2664 12.7359 24.1462 11.8561 24.1462 10.774C24.1462 9.68727 23.2679 8.80599 22.1843 8.80599H9.59701C8.8962 7.75883 7.64648 7.11315 6.26769 7.25829L6.26463 7.25862C4.64402 7.43869 3.33026 8.74467 3.14999 10.3733C2.91303 12.4999 4.57469 14.3049 6.6593 14.3049C6.95385 14.3049 7.19263 14.0662 7.19263 13.7716C7.19263 13.477 6.95385 13.2383 6.6593 13.2383Z"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M11.1648 16.9851C11.4594 16.9851 11.6981 16.7463 11.6981 16.4518V12.2027C11.6981 11.9082 11.4594 11.6694 11.1648 11.6694C10.8703 11.6694 10.6315 11.9082 10.6315 12.2027V16.4518C10.6315 16.7463 10.8703 16.9851 11.1648 16.9851Z"></path></svg>
                h3.topic-title Fechaduras Eletrônicas
                p.topic-description Segurança para você e para todos no apartamento

        .featured
            .border.border--left-top.border--yellow

            h3 Experiências únicas em apartamentos compartilhados
            p.description Aproveite o seu tempo como quiser e ganhe qualidade de vida vivendo com amigos.

    ul.mosaic
        li.mosaic-item
            +flipBox('01.png', '02.png')
        li.mosaic-item
            +flipBox('02.png', '02.png')
        li.mosaic-item
            img.mosaic-image(src='./assets/images/mosaic/03.png')
        li.mosaic-item
            +flipBox('04.png', '02.png')
        li.mosaic-item
            +flipBox('05.png', '02.png')
        li.mosaic-item
            +flipBox('06.png', '02.png')
        li.mosaic-item
            img.mosaic-image(src='./assets/images/mosaic/07.png')
        li.mosaic-item
            +flipBox('08.png', '02.png')
        li.mosaic-item
            +flipBox('09.png', '02.png')
        li.mosaic-item
            +flipBox('10.png', '02.png')
        li.mosaic-item
            img.mosaic-image(src='./assets/images/mosaic/11.png')
        li.mosaic-item
            +flipBox('12.png', '02.png')
