script
    include apartments.js

section.apartments-wrapper#apartments-section
    .grid
        h2.title.text-center Apartamentos maravilhosos
        p.section-description Reformados e mobiliados para 3 a 6 pessoas com <strong>quartos individuais</strong>

    .gallery
        .gallery-images-wrapper
            .gallery-image(style='background-image: url("./assets/images/gallery/image1.png")')
            .gallery-image(style='background-image: url("./assets/images/gallery/image2.png")')
            .gallery-image(style='background-image: url("./assets/images/gallery/image3.png")')
            .gallery-image(style='background-image: url("./assets/images/gallery/image4.png")')

    .gallery-legend
        .navigator
            .nav-button.nav-button--active
            .nav-button
            .nav-button
            .nav-button

        .legend-title Seu quarto, seu templo
        .legend-description Quartos individuais desenhados para momentos de tranquilidade

    .featured
        .border.border--left-top.border--wine
        .border.border--right-bottom.border--wine

        h3.text-center Flexibilidade pra você
        p.description Contrato a partir de 6 meses e possibilidade de mudar pra apês Yuca de outros bairros
