.apartments-wrapper {
    margin-top: rem(90);

    .title {
        @media (max-width: rem(415)) {
            width: 80%;
            text-align: left;
            margin-left: rem(30);
        }
    }

    .section-description {
        strong {
            color: $green-text-color;
        }
    }

    .gallery {
        position: relative;
        width: 100%;
        max-width: rem(800);
        height: rem(400);
        left: 50%;
        transform: translate(-50%);
        margin-top: rem(30);
        overflow: hidden;

        @media (max-width: rem(580)) {
            height: rem(320);
            margin-top: rem(20);
        }
    }

    .gallery-images-wrapper {
        position: relative;
        width: 400%;
        height: 100%;
        transition: left 0.5s;
    }

    .gallery-image {
        display: inline-block;
        width: 25%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }

    .gallery-legend {
        position: relative;
        width: rem(468);
        min-height: rem(148);
        top: -30px;
        left: 50%;
        transform: translate(-50%);
        background: white;
        box-shadow: 0 rem(5) rem(8) rgba(0,0,0,.03);
        padding: 0 rem(21) rem(20);

        @media (max-width: rem(500)) {
            width: calc(100% - 30px);
        }
    }

    .navigator {
        text-align: center;
    }

    .nav-button {
        display: inline-block;
        width: rem(20);
        height: rem(4);
        background: #d7d7d7;
        margin: 21px 12px;
        cursor: pointer;
    }

    .nav-button--active {
        background: #4f4f4f;
        opacity: 1;
    }

    .legend-title {
        @include font-bold;

        font-size: rem(18);
        color: $green-text-color;
    }

    .legend-description {
        margin-top: 10px;
        line-height: 24px;
    }

    .featured {
        h3 {
            color: $wine-text-color;
        }
    }
}
