doctype html

html
    head
        title Yuca
        meta(charset= 'UTF-8')
        meta(name= 'viewport' content= 'width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel="stylesheet" type="text/css" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css")
        link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap" rel="stylesheet")
        link(rel="icon" href="https://yuca.live/logo.png")

        script(
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"
        )

        script
            include ./index.js
    body
        include partials/sections/menu/menu

        .preloadGalleryImages(style='position: fixed; top: -1000px')
            img(src='./assets/images/gallery/image1.png' style='position: absolute')
            img(src='./assets/images/gallery/image2.png' style='position: absolute')
            img(src='./assets/images/gallery/image3.png' style='position: absolute')
            img(src='./assets/images/gallery/image4.png' style='position: absolute')

        main.main-container
            include partials/sections/00-yuca/yuca
            include partials/sections/01-apartments/apartments
            include partials/sections/02-dont-worry/dont-worry
            include partials/sections/03-advantages/advantages
            //include partials/sections/04-near-metro/near-metro
            //include partials/sections/05-first-residents/first-residents
            //include partials/sections/00-footer/footer


