h2 {
    font-size: rem(30);
    font-weight: 700;
    line-height: rem(37);
}

p {
    font-size: rem(19);
    line-height: rem(23);

    @media (max-width: rem(500)) {
        font-size: rem(14);
        line-height: rem(23);
    }
}

.main-container {
    font-family: Montserrat, opensans-regular;
    color: $gray-text-color;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    @media (max-width: $desktop-bp) {
        width: 100%;
    }
}

.grid {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: $desktop-bp;

    @media (max-width: $desktop-bp) {
        width: 100%;
        padding: 0 rem(15);
    }
}

.title {
    font-size: rem(30);
    line-height: rem(37);
    text-align: center;
    width: 100%;

    @media (max-width: rem(500)) {
        font-size: rem(24);
        line-height: rem(30);
        text-align: left;
        margin-left: 0 !important;
    }
}

.section-description {
    font-size: rem(18);
    margin-top: rem(10);
    text-align: center;

    @media (max-width: rem(500)) {
        font-size: rem(16);
        width: 100%;
        padding: 0 rem(0);
        text-align: left;
    }
}

.text-center {
    width: 100%;
    text-align: center;
}

.primary-button {
    @include font-bold;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(21);
    height: rem(38);
    background: $green-text-color;
    border-radius: rem(24);
    text-transform: uppercase;
    color: white;

    &:hover {
        opacity: 0.7;
    }
}

.border--left-bottom {
    border-left: rem(6) solid black;
    border-bottom: rem(6) solid black;
    bottom: 0;
    left: 0;
}

.border--right-bottom {
    border-right: rem(6) solid black;
    border-bottom: rem(6) solid black;
    bottom: 0;
    right: 0;
}

.border--left-top {
    border-left: rem(6) solid black;
    border-top: rem(6) solid black;
    top: 0;
    left: 0;
}

.border--right-top {
    border-right: rem(6) solid black;
    border-top: rem(6) solid black;
    top: 0;
    right: 0;
}

.border {
    width: rem(54);
    height: rem(54);
    position: absolute;

    @media (max-width: rem(600)) {
        width: rem(30);
        height: rem(30);
        border-width: 4px;
    }
}

.border--green {
    border-color: $green-text-color;
}

.border--wine {
    border-color: $wine-text-color;
}

.border--yellow {
    border-color: $yellow-text-color;
}

.featured {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 50%;
    transform: translate(-50%);
    width: 470px;
    height: 245px;
    margin-top: rem(18);

    @media (max-width: rem(600)) {
        display: none;
    }

    h3 {
        @include font-bold;

        width: 100%;
        font-size: rem(30);
        line-height: rem(37);
    }

    .description {
        width: 100%;
        display: block;
        font-size: rem(24);
        line-height: rem(30);
        text-align: center;
        padding: 0 rem(56);
    }
}
