@mixin setFontSizeAndLineHeight($font-size, $line-height) {
    font-size: em($font-size);
    line-height: $line-height/$font-size;
}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculate-rem($size);
}

@mixin centraliza($left, $top) {
    transform: translate($left, $top);
}

@mixin responsivebackground($path, $prefixo, $formato, $resolucoes...) {
    @each $resolucao in $resolucoes {
        $i: index($resolucoes, $resolucao);

        @if $i == 1 {
            background-image: url($path + $prefixo + $resolucao + '.' + $formato);
        }
        @else {
            @media (max-width: $resolucao + 'px') {
                background-image: url($path + $prefixo + $resolucao + '.' + $formato);
            }
        }
    }
}

@mixin font-normal {
    font-weight: 400;
}

@mixin font-bold {
    font-weight: 600;
}

@mixin shadow {
    box-shadow: 0px 0px 25px 0px rgba(50, 50, 50, 0.05);
}
